#title{
    font-size: 50px;
    color: #8b87a4a8;
    text-align: center;
}
.family{
    font-size: 30px;
    color: #22b342a7;
    text-align: left;
}
ul{
    text-align: center;
}
ul ul{
    text-align: center;
    

}
li{
    text-align: left;
    font-size: 17px;
}